// variables start

// colors
$mainYellow: #ffd500;       //Every Yellow Color
$footerBgc: #232527;
$mainFontColor: #010101 !important;    //Everywhere
$sliderTitle1: #313841;     //title(1), featuretitle(1)
$sliderTitle2: #555555;     //title(2)
$feature_p: #898989;        //p under featureItemTitle(0)
$allfooterText: #ffffff;

// variables end